<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <!--Bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!--Bootstrap Icons-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/config.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/books-api.js"></script>
    <script type="text/javascript" src="/scripts/restaurants-api.js"></script>
    <script type="text/javascript" src="/scripts/movie-tv-api.js"></script>
    <script type="text/javascript" src="/scripts/products-api.js"></script>
    <script type="text/javascript" src="/scripts/lists.js"></script>
    <script src="/scripts/delete-items.js"></script>
  </head>

  <body>
    <%-include('partials/_header')%>
    <% if(user) {%>
    <input type="hidden" value="<%= user.id %>" name="userid" id="userid" />
    <main class="container-lg">
      <div class="row">
        <div class="container column col-md">
          <!-- This section hold the category buttons -->
          <section class="button-box">
            <h3>I want to...</h3>
            <button class="list-button btn btn-primary btn-lg movies">
              <i class="bi bi-camera-reels"></i>
              <h5>Watch</h5>
            </button>
            <button class="list-button btn btn-primary btn-lg books">
              <i class="bi bi-book"></i>
              <h5>Read</h5>
            </button>
            <br />
            <button class="list-button btn btn-primary btn-lg food">
              <i class="bi bi-egg-fried"></i>
              <h5>Eat</h5>
            </button>
            <button
             class="list-button btn btn-primary btn-lg products"
            >
              <i class="bi bi-receipt"></i>
              <h5>Buy</h5>
            </button>
          </section>
          <!--
      This section will hold the text input and the results -->
          <section id="search"></section>
        </div>

        <!-- This container holds the right-side of the screen.
Our list title and lists -->
        <div class="container column col-md">
          <h1 id="todo-header"><span id="which-list"></span></h1>
          <ul id="todo-list">
            <!-- Insert List Items Here -->
          </ul>
        </div>
      </div>

      <!-- Modal Update Profile Form -->
<div class="modal fade" id="update-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-3 m-3">
        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3 m-3">
        <h2>Fill out the form below to change your profile details!</h2>
        <form action="/update" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">New Name</label>
            <input type="text" name="name" class="form-control" value="<%= user.name %>" >
          </div>
          <div class="mb-3">
            <label for="avatar" class="form-label">New Profile Picture</label>
            <input type="url" name="avatar" class="form-control" value="<%= user.avatar %>">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">New Email address</label>
            <input type="email" name="email" class="form-control" value="<%= user.email %>">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" name="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </main>
    <% } else {%>
    <!-- This is the page for non-logged in guests -->
    <div id="form-container">
    </div>
    <% } %>
  </body>
</html>
